(undercloud) [stack@undercloud ~]$ nova list
+--------------------------------------+------------------------------------+--------+------------+-------------+----------------------+
| ID                                   | Name                               | Status | Task State | Power State | Networks             |
+--------------------------------------+------------------------------------+--------+------------+-------------+----------------------+
| fc31069d-ee65-46a2-84ac-94f1a6a98b3d | overcloud-controller-bagrordiaww-0 | ACTIVE | -          | Running     | ctlplane=172.31.0.12 |
| 0e46c0a5-3fb1-421d-9b90-bbf4abba6ea9 | overcloud-controller-bagrordiaww-1 | ACTIVE | -          | Running     | ctlplane=172.31.0.19 |
| 1c1f667a-7b31-4053-a481-385b5c476e1d | overcloud-controller-bagrordiaww-2 | ACTIVE | -          | Running     | ctlplane=172.31.0.13 |
| 24f0325b-3268-4ace-9cd3-258933f02478 | overcloud-ovscompute-bagrordiaww-0 | ACTIVE | -          | Running     | ctlplane=172.31.0.5  |
| 79507597-058d-4faf-aa3a-855efa530d19 | overcloud-ovscompute-bagrordiaww-1 | ACTIVE | -          | Running     | ctlplane=172.31.0.9  |
| d6e22aef-f340-4b3e-9296-5b524e9c04cb | overcloud-ovscompute-bagrordiaww-2 | ACTIVE | -          | Running     | ctlplane=172.31.0.11 |
+--------------------------------------+------------------------------------+--------+------------+-------------+----------------------+